bin/
obj/
.vs/
*.user
*.suo
TestResults/

publish/*
!publish/Poe2DbLookup.exe
publish-self-contained/
publish-dotnet8/
publish-next/

tests/bin/
tests/obj/
tests/*.png

raycast-poe2db-lookup/node_modules/
raycast-poe2db-lookup/dist/
